.hTextCarousel {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.pTextCarousel {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#carouselArea {
  /* background-color: aquamarine; */
  padding: 0% 5% 0% 5%;
}

#imgCarousel {
  /* height: auto;
   width:400px
   width: auto; */
  width: auto;
  height: 41rem;
  z-index: 10000;
}

@media only screen and (max-width: 600px) {
  #imgCarousel {
    padding-top: 20%;
    width: auto;
    height: 15rem;
  }

  .title-banner {
    font-size: 5px;
    top: 50%;
    left: 25%;
  }
}


.title-banner {
  font-size: 25px;
  top: 50%;
  left: 25%;
}