.news{
    height: 650px;
    display: flex;
    background-color: #FAF3E3;
   
}
.contentNews{
padding-top:40px ;
    width: 450px;
}
.imgNews{
    background-color: #1A4D2E;
    border-radius: 10px;
    margin: auto;
    width: 291px;
    height: 206px;
}
.h5News{
    margin: 20px 42px 5px 42px;

}
.pDateNews{
    margin: 0px 42px 5px 42px;
    opacity: 0.5;
    font-size: small;
}