@media only screen and (max-width: 600px) {
    .imgCover {
      max-width: 800px;
      max-height: 600px;
    }
    .titleContent {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .bodyImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bodyText {
    padding-top: 20px;
    display: flex;
    font-size: medium;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }

  .imgCover {
    /* max-width: 65rem;
    max-height: 37rem; */
    width: 50rem;
    height: 30rem;
  }

  .titleContent {
    font-size: 14px;
    font-weight: bold;
  }